/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media (max-width: 760px) {
  /* styles when screen is greater than 420px wide but less than 760px */
  /* omitting the 'and (max-width: 760px)' would cause these styles to apply at any width above 420px unless overridden by another media query */
  .numberCircle {
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 3px 2px #949496);
    background-color: #7c9f95;
    font-size: 24px;
  }
}

@media (min-width: 760px) {
  /* styles when screen is greater than 760px wide */
  .numberCircle {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 3px 2px #949496);
    background-color: #7c9f95;
    font-size: 24px;
  }
}

.issueBox:hover {
  filter: brightness(75%);
}

.emojiButton:hover {
  filter: brightness(55%);
}

.emojiButton:active {
  filter: brightness(45%);
}

.swal2-container {
  z-index: 20000;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.imgcontainer {
  position: relative;
}

.fa-download {
  position: absolute;
  top: 0;
  left: 0;
}

.redText {
  color: #e53e3e;
}
